* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body{
  background-color: #191315;
  font-size: 1.5em;
}
.contenedor-principal{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: aliceblue;
  text-align: justify;
  justify-content: center;
}
.banner{
  display: flex;
  justify-content: center;
}
.barra{
  display: flex;
  color: aliceblue;
  gap: 10px;
  justify-content: center;
  
}
.barra-navegacion{
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
}

.contenedor-pagina{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{
  padding: 0 20%;
  margin: 0 auto;
}


.cajita{
  width: fit-content;
  margin: auto;
  cursor: pointer;
}


button {
  margin: 0 30px;
  padding: 8px 15px;
  border: 1px solid  white;
  border-radius: 5px;
  background-color: #191315;
  color: aliceblue;
  font-size: 1rem;
}

select{
  padding: 8px 15px;
  border-radius: 10px;
}
h2{
  margin: 40px 0;
}
p{
  margin: 28px 0;
}

a{
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
}
.links{
  display: inline-block;
  padding: 20px 30px;
  
}

a.url{
  text-decoration: underline;
  font-size: inherit;
}

a:hover{
  color: #d31a42;
  cursor: pointer;
}

.imagen{
  cursor: pointer;
  
}

.contenedor-texto{
  text-align: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #110d0d;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 40px;

  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 5px;
  
  overflow-x: hidden;
}

.dropdown-content {
  max-height: 30vh;
  /*overflow:scroll;*/ 
}

.dropdown-content a{
  display: block;
}

.show {
  display: block;
}
.bookContainer{
  display: flex;
  flex-direction: column;
  border-color: rgb(29, 29, 29);
  
  /*border-style: solid none;*/
}
.bookTag{
  padding: 15px 20px 10px 20px;
  font-size: 1rem;
  text-align: left;
}
.chapterLink, .pageLink{
  padding: 5px 20px 5px 20px;
  font-size: 1rem;
}

.chapterLink:hover{
  background-color: #443a3a;
}
.bookTag:hover{
  background-color: #443a3a;
}

.dropdown button{
  min-width: 200px;
}

.loading {
  
  background-image: url('../img/Rolling@1x-1.0s-200px-200px.gif') ;
  background-position: center;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.disabled{
  display: none;
}

.hidden{
  visibility: hidden;
}

/*
.barra-navegacion-mobile button{
  display: none;
}
  */




@media only screen and (max-width: 900px){

  .contenedor-pagina{
    margin: 30px 0px;
  }
  div.section{
    padding: 0 5%;
    margin: 0 10px;
  }

  .imagen{
    max-width: 100%;
  }

  body{
    font-size: 1em;
  }

  a{
    font-size: 1rem;
  }

  .links{
    font-size: 1.5rem;
  }

  button{
    margin: 0 8px;
  }

  h2{
    margin: 15px;
  }

  .barra-navegacion{
    flex-direction: column;
    gap: 5px;
  }
  #prev, #next{
    display: none;
  }
  /*
  .barra-navegacion-mobile{
    display: flex;
    justify-content: space-around;
  }
  .barra-navegacion-mobile button{
    display: block;
  }
    */
  
}

