* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body{
  background-color: #191315;
  font-size: 2em;
}
.contenedor-principal{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: aliceblue;
  text-align: justify;
  justify-content: center;
}
.banner{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.barra{
  display: flex;
  height: 40px;
  color: aliceblue;
  justify-content: center;
  
}
.barra-navegacion{
  display: flex;
  justify-content: center;
}

.contenedor-pagina{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{
  padding: 0 20%;
  margin: 0 auto;
}


.cajita{
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.links{
  display: inline-block;
  margin: 30 auto;
  padding: 10px 20px;
}

button {
  margin: 0 30px;
  padding: 8px 15px;
  border: 1px solid  white;
  border-radius: 5px;
  background-color: #191315;
  color: aliceblue;

  font-size: 1rem;
}

h2{
  margin: 40px 0;
}
a{
  color: aliceblue;
  
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#imagen{
  cursor: pointer;
}

.contenedor-texto{
  text-align: center;
  padding: 10px;
}



@media only screen and (max-width: 900px){

  .contenedor-pagina{
    margin: 30px 0px;
  }
  .section{
    padding: 0 10%;
  }

  .imagen{
    max-width: 100%;
  }
  
}
